<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
    <meta charset="utf-8">

    <title>Details</title>

    <!-- Our style sheet -->
    <link rel="stylesheet" href="../css/style.css">
    <script src="../cordova.js"></script>
    <!-- AngularJS | MIT License | https://angularjs.org/ -->
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/ngStorage.min.js"></script>

    <!-- jQuery | MIT License | https://jquery.org/ -->
    <script src="../js/vendor/jquery-2.1.4.js"></script>

    <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
    <script src="../js/vendor/onsenui.min.js"></script>

    <script src="../js/controllers/chronic.js"></script>
    <script src="../js/services/dataservice.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/controllers/detailedMedicineController.js"></script>
    <script src="../js/vendor/Chart.min.js"></script>
    <script src="../js/vendor/angular-chart.js"></script>
    <script src="../js/cryptojs/SHA3.js"></script>
    <link rel="stylesheet" href="../css/angular-chart.css">

</head>

<body ng-controller="detailedMedicineController">
<div id="loadingImg" style="display: block;">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<ons-navigator var="detailedMedicineNavigator">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click=";transition();" onclick="location.href='history.html'"><i class="fa fa-chevron-left"></i>
                </ons-toolbar-button>
            </div>
            <!--<div class="center" style="margin: 0 auto; text-align: center;">Nieuwe hoofdpijn</div>-->
            <div class="right">
                <ons-toolbar-button>
                    <ons-icon icon="fa fa-pencil" ng-click=";transition();" onclick="location.href='medicine.html'"></ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button>
                    <ons-icon icon="fa  fa-trash-o buttonIcon" ng-click="deleteEntry();"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <div class="detailMedicine" style="width: 100%" >
            <ons-row class="tekstLijn" style="margin-top: 6%;width: 100%">
                <div class="label" style="width: 35%;">Tijdstip:</div>
                <div class="label" style="width: 50%;text-align: right">{{getTimeDateString(current.date)}}</div>
            </ons-row>


            <ons-row style="width: 100%" >
                <div class="list_header" style="width: 100%; text-align: center;">Naam medicijn</div>
            </ons-row>
            <ons-row>
                <p style="margin-left: auto; margin-right: auto;" class="label">{{current.drug.name}}</p>
            </ons-row>
            <!--<ons-row>-->
                <!--<div class="list_header" style="width: 100%; text-align: center;">Hoeveelheid ingenomen</div>-->
            <!--</ons-row>-->
            <!--<ons-row>-->
                <!--<div class="label">{{current.quantity}} mg</div>-->
            <!--</ons-row>-->

        </div>

    </ons-page>
</ons-navigator>

</body>

</html>
